n8n/workflows/N8n_ChitaraBot_Telegram.json
{
  "name": "N8n_ChitaraBot_Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger-001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "telegramApi": { "id": "TELEGRAM_CRED_ID", "name": "Telegram Chitara Bot" }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.chatId }}",
                    "rightValue": "56982737381",
                    "operator": { "type": "string", "operation": "contains" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valentina"
            }
          ]
        },
        "options": { "fallbackOutput": "jairo" }
      },
      "id": "switch-user-001",
      "name": "Switch User",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Valentina context restriction\n// Allow: aseo, check-in, check-out, huespedes\n// Window: 2 days past, 7 days future\n\nconst msg = ($json.message?.text || '').toLowerCase();\n\n// Blocked patterns\nconst blocked = [\n  'cuanto gano', 'cuanto ganó', 'plata', 'dinero', 'finanza',\n  'sii', 'impuesto', 'contabilidad', 'cuanto cobrar',\n  'cuanto cobró', 'precio', 'tarifa', 'ganancia', 'perdida',\n  'mes pasado', 'año pasado', 'mes anterior'\n];\n\nconst blockedTime = msg.match(/\\d+\\s*(d[ií]a|semana|mes)/g);\nif (blockedTime && blockedTime.length > 0) {\n  const nums = msg.match(/\\d+/g)?.map(Number) || [];\n  if (nums.some(n => n > 7) && msg.includes('dia')) return { allowed: false, reason: 'Solo hasta 7 días' };\n  if (msg.includes('semana') || msg.includes('mes')) return { allowed: false, reason: 'Solo consultas por día' };\n}\n\nfor (const b of blocked) {\n  if (msg.includes(b)) return { allowed: false, reason: 'Tema no permitido para Valentina' };\n}\n\nreturn { allowed: true, window: '2d-past-7d-future' };"
      },
      "id": "val-check-001",
      "name": "Val Context Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 200]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.allowed }}",
                    "rightValue": false,
                    "operator": { "type": "boolean", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "blocked"
            }
          ]
        },
        "options": { "fallbackOutput": "allowed" }
      },
      "id": "switch-val-001",
      "name": "Val Check Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "text": "=Lo siento Valentina, no puedo responder a eso. Solo puedo ayudarte con aseo, check-in/out, y huespedes."
      },
      "id": "telegram-blocked-001",
      "name": "Send Blocked",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 100],
      "credentials": {
        "telegramApi": { "id": "TELEGRAM_CRED_ID", "name": "Telegram Chitara Bot" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build restricted context prompt for Valentina\n// Dates: window of 2 days past to 7 days future\nconst hoy = new Date(new Date().toLocaleString('en-US', {timeZone: 'America/Santiago'}));\nconst desde = new Date(hoy); desde.setDate(desde.getDate() - 2);\nconst hasta = new Date(hoy); hasta.setDate(hasta.getDate() + 7);\n\nconst fmt = d => d.toISOString().split('T')[0];\n\nconst prompt = `Eres Chitara, asistente de SandiegoApart. Valentina (proveedora de aseo) pregunta lo siguiente. \n\nCONTEXTO RESTRINGIDO:\n- Solo responder sobre: aseo, check-in, check-out, huespedes, cantidad de huespedes.\n- Ventana temporal: ${fmt(desde)} a ${fmt(hasta)}\n- Para mensajes de huespedes: maximo 48 horas atras\n- NO responder sobre finanzas, precios, SII, ganancias\n\nLa pregunta de Valentina es: ${$json.message?.text || ''}`;\n\nreturn { prompt: prompt, original_msg: $json.message?.text || '', is_valentina: true };\n"
      },
      "id": "val-prompt-001",
      "name": "Val Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build prompt for Jairo (full access)\nconst prompt = $json.message?.text || '';\nreturn { prompt: prompt, is_valentina: false };\n"
      },
      "id": "jairo-prompt-001",
      "name": "Jairo Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:4097/ask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer chitara-bridge-2026" }
          ]
        },
        "bodyParameters": {
          "parameters": [
            { "name": "message", "value": "={{ $json.prompt }}" },
            { "name": "timeout", "value": 90 }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "id": "http-bridge-001",
      "name": "Call Chitara Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "text": "={{ $json.response }}",
        "parseMode": "markdown"
      },
      "id": "telegram-send-001",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 500],
      "credentials": {
        "telegramApi": { "id": "TELEGRAM_CRED_ID", "name": "Telegram Chitara Bot" }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[ { "node": "Switch User", "type": "main", "index": 0 } ]] },
    "Switch User": {
      "main": [
        [{ "node": "Val Context Check", "type": "main", "index": 0 }],
        [{ "node": "Jairo Build Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Val Context Check": { "main": [[ { "node": "Val Check Switch", "type": "main", "index": 0 } ]] },
    "Val Check Switch": {
      "main": [
        [{ "node": "Send Blocked", "type": "main", "index": 0 }],
        [{ "node": "Val Build Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Val Build Prompt": { "main": [[ { "node": "Call Chitara Bridge", "type": "main", "index": 0 } ]] },
    "Jairo Build Prompt": { "main": [[ { "node": "Call Chitara Bridge", "type": "main", "index": 0 } ]] },
    "Call Chitara Bridge": { "main": [[ { "node": "Send Response", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" }
}
