workflows/N8n_procesar_email_tekno.json
{
  "updatedAt": "2026-01-29T18:45:53.064Z",
  "createdAt": "2026-01-03T03:44:11.291Z",
  "id": "31xxMYna14ZVbXCG",
  "name": "N8n_procesar_email_tekno",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingesta-correo-teknoconecta",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -32
      ],
      "id": "217adf98-ff70-4ffb-a0e1-f8ef99bf22a7",
      "name": "Webhook",
      "webhookId": "43e4479f-93c6-4e00-a907-854bcee98b9b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "z0M54nC5Fx9VCrLL",
          "name": "Key Interna n8n Webhook"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Iteramos sobre los items entrantes\nfor (const item of $input.all()) {\n  const body = item.json.body;\n\n  // -------------------------------------------------------\n  // 1. LIMPIEZA DEL REMITENTE\n  // -------------------------------------------------------\n  // Priorizamos 'email_remitente', si no existe, usamos 'remitente'\n  const rawRemitente = body.email_remitente || body.remitente || \"\";\n  const remitenteMatch = rawRemitente.match(/<([^>]+)>/);\n  // Si encuentra <email>, usa lo de adentro. Si no, usa el original.\n  const remitenteLimpio = remitenteMatch ? remitenteMatch[1] : rawRemitente;\n\n  // -------------------------------------------------------\n  // 2. LIMPIEZA DEL DESTINATARIO (NUEVO)\n  // -------------------------------------------------------\n  const rawDestinatario = body.email_destinatario || \"\";\n  const destMatch = rawDestinatario.match(/<([^>]+)>/);\n  // Misma lógica: extraer lo que está entre corchetes\n  const destinatarioLimpio = destMatch ? destMatch[1] : rawDestinatario;\n\n  // -------------------------------------------------------\n  // 3. LIMPIEZA DEL CUERPO (Estrategia Anti-Ruido)\n  // -------------------------------------------------------\n  let texto = body.cuerpo_texto || body.cuerpo_html || \"\";\n\n  // A. Eliminar URLs largas\n  texto = texto.replace(/https?:\\/\\/[^\\s]+/g, \" \");\n\n  // B. Eliminar marcadores de imágenes de Gmail\n  texto = texto.replace(/\\[image:[^\\]]+\\]/g, \"\");\n\n  // C. Limpieza cosmética final\n  texto = texto\n    .replace(/\\r\\n/g, \"\\n\")      // Normalizar saltos de línea\n    .replace(/\\n\\s*\\n/g, \"\\n\")   // Eliminar líneas vacías repetidas\n    .replace(/[ \\t]+/g, \" \")     // Eliminar espacios repetidos\n    .trim();\n\n  // -------------------------------------------------------\n  // 4. RETORNO DE DATOS LIMPIOS\n  // -------------------------------------------------------\n  \n  // Guardamos los emails limpios y sin espacios laterales (.trim())\n  item.json.email_remitente_limpio = remitenteLimpio.trim();\n  item.json.email_destinatario_limpio = destinatarioLimpio.trim();\n  \n  // El mensaje depurado\n  item.json.mensaje_depurado = texto;\n  \n  // Pasamos el ID original de Gmail para la base de datos\n  item.json.id_mensaje_gmail = body.id_mensaje_gmail;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -32
      ],
      "id": "6736a427-70ac-44ba-81a3-132ab854816a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "BandejaInput",
          "mode": "list",
          "cachedResultName": "BandejaInput"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "BandejaInputFuente_origen": "={{ $json.webhookUrl }}",
            "BandejaInputPayload_crudo": "={{ $json.body }}",
            "BandejaInputTextoInformacion": "={{ $json.mensaje_depurado }}",
            "BandejaInputIdMensajeGmail": "={{ $('Webhook').item.json.body.id_mensaje_gmail }}",
            "BandejaInputEmail_destinatario": "={{ $json.email_destinatario_limpio }}",
            "BandejaInputFecha_recepcion_gmail": "={{ $('Webhook').item.json.body.fecha_recepcion }}",
            "BandejaInput_EmailOrigen": "={{ $json.email_remitente_limpio }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "BandejaInputId",
              "displayName": "BandejaInputId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BandejaInputFecha_ingesta",
              "displayName": "BandejaInputFecha_ingesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BandejaInputFuente_origen",
              "displayName": "BandejaInputFuente_origen",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BandejaInputPayload_crudo",
              "displayName": "BandejaInputPayload_crudo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "BandejaInputTextoInformacion",
              "displayName": "BandejaInputTextoInformacion",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BandejaInputEstado",
              "displayName": "BandejaInputEstado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BandejaInputFecha_actualizacion",
              "displayName": "BandejaInputFecha_actualizacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BandejaInputLog_proceso",
              "displayName": "BandejaInputLog_proceso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BandejaInputIntentos",
              "displayName": "BandejaInputIntentos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BandejaInputIdMensajeGmail",
              "displayName": "BandejaInputIdMensajeGmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BandejaInputEmail_destinatario",
              "displayName": "BandejaInputEmail_destinatario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BandejaInputFecha_recepcion_gmail",
              "displayName": "BandejaInputFecha_recepcion_gmail",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BandejaInput_EmailOrigen",
              "displayName": "BandejaInput_EmailOrigen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        -32
      ],
      "id": "aa3a3c2f-ea10-47db-baac-72996095e0ed",
      "name": "Insertar en Bandeja",
      "credentials": {
        "postgres": {
          "id": "zvx0J3DPht42SAUp",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insertar en Bandeja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e748b218-adfa-4960-8372-4645c8aef28f",
  "activeVersionId": "fc63de5c-2e33-4e7f-9ddf-0e074d0483ad",
  "versionCounter": 21,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-03T03:44:11.291Z",
      "createdAt": "2026-01-03T03:44:11.291Z",
      "role": "workflow:owner",
      "workflowId": "31xxMYna14ZVbXCG",
      "projectId": "fkrYXx8bUkVIFmGN",
      "project": {
        "updatedAt": "2025-11-05T16:16:44.185Z",
        "createdAt": "2025-11-05T15:24:32.634Z",
        "id": "fkrYXx8bUkVIFmGN",
        "name": "Jairo Pinilla <contacto@teknoconecta.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6e4b4287-1829-4637-b2b8-8fe0c8471719",
        "projectRelations": [
          {
            "updatedAt": "2025-11-05T15:24:32.634Z",
            "createdAt": "2025-11-05T15:24:32.634Z",
            "userId": "6e4b4287-1829-4637-b2b8-8fe0c8471719",
            "projectId": "fkrYXx8bUkVIFmGN",
            "user": {
              "updatedAt": "2026-04-22T16:56:08.229Z",
              "createdAt": "2025-11-05T15:23:52.554Z",
              "id": "6e4b4287-1829-4637-b2b8-8fe0c8471719",
              "email": "contacto@teknoconecta.com",
              "firstName": "Jairo",
              "lastName": "Pinilla",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-05T16:17:10.332Z",
                "personalization_survey_n8n_version": "1.117.3",
                "companySize": "<20",
                "companyType": "saas",
                "role": "data-science",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "QBxPsad3MwjzkTU2",
                "userActivatedAt": 1764029627118,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1768053262866
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-22",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-07T19:32:31.337Z",
    "createdAt": "2026-01-07T19:32:14.808Z",
    "versionId": "fc63de5c-2e33-4e7f-9ddf-0e074d0483ad",
    "workflowId": "31xxMYna14ZVbXCG",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ingesta-correo-teknoconecta",
          "authentication": "headerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -416,
          -32
        ],
        "id": "217adf98-ff70-4ffb-a0e1-f8ef99bf22a7",
        "name": "Webhook",
        "webhookId": "43e4479f-93c6-4e00-a907-854bcee98b9b",
        "credentials": {
          "httpHeaderAuth": {
            "id": "z0M54nC5Fx9VCrLL",
            "name": "Key Interna n8n Webhook"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Iteramos sobre los items entrantes\nfor (const item of $input.all()) {\n  const body = item.json.body;\n\n  // -------------------------------------------------------\n  // 1. LIMPIEZA DEL REMITENTE\n  // -------------------------------------------------------\n  // Priorizamos 'email_remitente', si no existe, usamos 'remitente'\n  const rawRemitente = body.email_remitente || body.remitente || \"\";\n  const remitenteMatch = rawRemitente.match(/<([^>]+)>/);\n  // Si encuentra <email>, usa lo de adentro. Si no, usa el original.\n  const remitenteLimpio = remitenteMatch ? remitenteMatch[1] : rawRemitente;\n\n  // -------------------------------------------------------\n  // 2. LIMPIEZA DEL DESTINATARIO (NUEVO)\n  // -------------------------------------------------------\n  const rawDestinatario = body.email_destinatario || \"\";\n  const destMatch = rawDestinatario.match(/<([^>]+)>/);\n  // Misma lógica: extraer lo que está entre corchetes\n  const destinatarioLimpio = destMatch ? destMatch[1] : rawDestinatario;\n\n  // -------------------------------------------------------\n  // 3. LIMPIEZA DEL CUERPO (Estrategia Anti-Ruido)\n  // -------------------------------------------------------\n  let texto = body.cuerpo_texto || body.cuerpo_html || \"\";\n\n  // A. Eliminar URLs largas\n  texto = texto.replace(/https?:\\/\\/[^\\s]+/g, \" \");\n\n  // B. Eliminar marcadores de imágenes de Gmail\n  texto = texto.replace(/\\[image:[^\\]]+\\]/g, \"\");\n\n  // C. Limpieza cosmética final\n  texto = texto\n    .replace(/\\r\\n/g, \"\\n\")      // Normalizar saltos de línea\n    .replace(/\\n\\s*\\n/g, \"\\n\")   // Eliminar líneas vacías repetidas\n    .replace(/[ \\t]+/g, \" \")     // Eliminar espacios repetidos\n    .trim();\n\n  // -------------------------------------------------------\n  // 4. RETORNO DE DATOS LIMPIOS\n  // -------------------------------------------------------\n  \n  // Guardamos los emails limpios y sin espacios laterales (.trim())\n  item.json.email_remitente_limpio = remitenteLimpio.trim();\n  item.json.email_destinatario_limpio = destinatarioLimpio.trim();\n  \n  // El mensaje depurado\n  item.json.mensaje_depurado = texto;\n  \n  // Pasamos el ID original de Gmail para la base de datos\n  item.json.id_mensaje_gmail = body.id_mensaje_gmail;\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          -32
        ],
        "id": "6736a427-70ac-44ba-81a3-132ab854816a",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "BandejaInput",
            "mode": "list",
            "cachedResultName": "BandejaInput"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "BandejaInputFuente_origen": "={{ $json.webhookUrl }}",
              "BandejaInputPayload_crudo": "={{ $json.body }}",
              "BandejaInputTextoInformacion": "={{ $json.mensaje_depurado }}",
              "BandejaInputIdMensajeGmail": "={{ $('Webhook').item.json.body.id_mensaje_gmail }}",
              "BandejaInputEmail_destinatario": "={{ $json.email_destinatario_limpio }}",
              "BandejaInputFecha_recepcion_gmail": "={{ $('Webhook').item.json.body.fecha_recepcion }}",
              "BandejaInput_EmailOrigen": "={{ $json.email_remitente_limpio }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "BandejaInputId",
                "displayName": "BandejaInputId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "BandejaInputFecha_ingesta",
                "displayName": "BandejaInputFecha_ingesta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "BandejaInputFuente_origen",
                "displayName": "BandejaInputFuente_origen",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "BandejaInputPayload_crudo",
                "displayName": "BandejaInputPayload_crudo",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": true
              },
              {
                "id": "BandejaInputTextoInformacion",
                "displayName": "BandejaInputTextoInformacion",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "BandejaInputEstado",
                "displayName": "BandejaInputEstado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "BandejaInputFecha_actualizacion",
                "displayName": "BandejaInputFecha_actualizacion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "BandejaInputLog_proceso",
                "displayName": "BandejaInputLog_proceso",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "BandejaInputIntentos",
                "displayName": "BandejaInputIntentos",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "BandejaInputIdMensajeGmail",
                "displayName": "BandejaInputIdMensajeGmail",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "BandejaInputEmail_destinatario",
                "displayName": "BandejaInputEmail_destinatario",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "BandejaInputFecha_recepcion_gmail",
                "displayName": "BandejaInputFecha_recepcion_gmail",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "BandejaInput_EmailOrigen",
                "displayName": "BandejaInput_EmailOrigen",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          32,
          -32
        ],
        "id": "aa3a3c2f-ea10-47db-baac-72996095e0ed",
        "name": "Insertar en Bandeja",
        "credentials": {
          "postgres": {
            "id": "zvx0J3DPht42SAUp",
            "name": "Postgres account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Insertar en Bandeja",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jairo Pinilla",
    "name": "Version fc63de5c",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-07T19:32:31.196Z",
        "id": 8,
        "workflowId": "31xxMYna14ZVbXCG",
        "versionId": "fc63de5c-2e33-4e7f-9ddf-0e074d0483ad",
        "event": "activated",
        "userId": "6e4b4287-1829-4637-b2b8-8fe0c8471719"
      }
    ]
  }
}
