workflows/N8n_getAseosHtml.json
{
  "updatedAt": "2026-04-22T17:50:07.533Z",
  "createdAt": "2026-03-11T00:54:47.093Z",
  "id": "O5orA32jsISEoYlPlGJBg",
  "name": "N8n_getAseosHtml",
  "description": "Obtiene el html de los aseos",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "aseos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        0
      ],
      "id": "e6bcaaf0-f070-455e-89c7-0eadd642328a",
      "name": "GetPagina",
      "webhookId": "a5160fe4-a9b6-4deb-b8d8-fb0cbfc18d08"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH base AS (\n  SELECT\n    r.\"ReservaId\",\n    r.\"Reserva_id\",\n    r.\"Reserva__id\",\n    r.\"Reserva_reservationUrl\",\n    r.\"Reserva_checkOutDate\" AS \"Dia\",              -- Día para agrupar (checkout)\n    r.\"Reserva_checkOutTime\" AS \"CheckoutTime\",\n    al.\"AlojamientoStaysInternalName\" AS \"Depto\",\n\n    a.\"AseoReservaCheckOutId\" AS \"AseoId\",\n    a.\"AseoEstadoCodigo\"      AS \"AseoEstado\",\n    a.\"FechaServicio\"         AS \"AseoDate\",\n    a.\"HoraInicio\"            AS \"AseoTime\"\n  FROM public.\"Reserva\" r\n  LEFT JOIN public.\"Alojamiento\" al\n    ON al.\"AlojamientoId\" = r.\"AlojamientoId\"\n  LEFT JOIN public.\"AseoReservaCheckOut\" a\n    ON a.\"ReservaId\" = r.\"ReservaId\"\n   AND a.\"AseoEstadoCodigo\" <> 'Cancelado'\n   WHERE r.\"Reserva_type\" in ( 'booked','reserved')\n    AND r.\"Reserva_checkOutDate\" >= date_trunc('day', now() AT TIME ZONE 'America/Santiago')::date\n)\n\nSELECT\n  b.\"Dia\",\n  b.\"Depto\",\n  b.\"ReservaId\",\n  b.\"Reserva_id\",\n  b.\"Reserva__id\",\n  b.\"Reserva_reservationUrl\",\n  1 AS \"ItemOrden\",\n  'RESERVA' AS \"ItemTipo\",\n  b.\"Dia\" AS \"EventoFecha\",\n  b.\"CheckoutTime\" AS \"EventoHora\",\n  NULL::bigint AS \"AseoReservaCheckOutId\",\n  NULL::text   AS \"AseoEstado\",\n  FALSE AS \"FaltaAseo\"\nFROM base b\n\nUNION ALL\n\nSELECT\n  b.\"Dia\",\n  b.\"Depto\",\n  b.\"ReservaId\",\n  b.\"Reserva_id\",\n  b.\"Reserva__id\",\n  b.\"Reserva_reservationUrl\",\n  2 AS \"ItemOrden\",\n  'ASEO' AS \"ItemTipo\",\n  b.\"AseoDate\" AS \"EventoFecha\",\n  b.\"AseoTime\" AS \"EventoHora\",\n  b.\"AseoId\"   AS \"AseoReservaCheckOutId\",\n  b.\"AseoEstado\",\n  (b.\"AseoId\" IS NULL) AS \"FaltaAseo\"\nFROM base b\n\nORDER BY\n  \"Dia\" ASC,\n  \"Depto\" ASC,\n  \"ItemOrden\" ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        0
      ],
      "id": "dbab3489-8e05-4c7a-b9a1-76a0d8feb2e5",
      "name": "GetDatos",
      "credentials": {
        "postgres": {
          "id": "zvx0J3DPht42SAUp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (Run Once for All Items)\n// Sin luxon: usa Intl (incluido en Node.js)\n\nconst items = $input.all().map(i => i.json);\n\n// Helpers\nconst normalizeYMD = (v) => {\n  if (v === null || v === undefined) return null;\n  const s = String(v);\n  // si viene ISO: 2026-03-01T00:00:00.000Z => tomamos YYYY-MM-DD\n  return s.length >= 10 ? s.slice(0, 10) : s;\n};\n\nconst ddmmyyyy = (ymd) => {\n  if (!ymd) return '';\n  const [y, m, d] = ymd.split('-');\n  if (!y || !m || !d) return ymd;\n  return `${d}-${m}-${y}`;\n};\n\n// Para evitar que \"YYYY-MM-DD\" se corra por zona, usamos mediodía UTC\nconst dateAtNoonUTC = (ymd) => new Date(`${ymd}T12:00:00.000Z`);\n\nconst toTitleCase = (s) =>\n  String(s || '').replace(/\\p{L}[\\p{L}\\p{Mn}]*/gu, (w) => w[0].toUpperCase() + w.slice(1));\n\nconst fmtDiaES = new Intl.DateTimeFormat('es-CL', {\n  weekday: 'long',\n  day: 'numeric',\n  month: 'long',\n  timeZone: 'America/Santiago',\n});\n\nconst diaTextoES = (ymd) => {\n  if (!ymd) return '';\n  const raw = fmtDiaES.format(dateAtNoonUTC(ymd)); // ej: \"domingo, 1 de marzo\"\n  return toTitleCase(raw.replace(',', ''));        // \"Domingo 1 De Marzo\"\n};\n\nconst hhmm = (t) => {\n  if (!t) return '';\n  const s = String(t);\n  // \"11:00:00\" => \"11:00\"\n  return s.length >= 5 ? s.slice(0, 5) : s;\n};\n\n// Agrupar: Dia -> Depto -> ReservaId -> {reserva, aseo}\nconst grouped = new Map();\n\nfor (const r of items) {\n  const dia = normalizeYMD(r.Dia);                 // YYYY-MM-DD\n  const depto = r.Depto || 'SinDepto';\n  const reservaId = r.ReservaId;\n\n  if (!dia) continue;\n\n  if (!grouped.has(dia)) grouped.set(dia, new Map());\n  const byDepto = grouped.get(dia);\n  if (!byDepto.has(depto)) byDepto.set(depto, new Map());\n  const byReserva = byDepto.get(depto);\n\n  if (!byReserva.has(reservaId)) byReserva.set(reservaId, { reserva: null, aseo: null });\n  const obj = byReserva.get(reservaId);\n\n  if (r.ItemTipo === 'RESERVA') obj.reserva = r;\n  if (r.ItemTipo === 'ASEO') obj.aseo = r;\n}\n\n// Orden\nconst diasOrdenados = Array.from(grouped.keys()).sort();\n\n// Actualización Chile\nconst actualizado = new Intl.DateTimeFormat('es-CL', {\n  timeZone: 'America/Santiago',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n}).format(new Date()).replace(',', '');\n\n// Escape HTML\nconst escapeHtml = (s) =>\n  String(s ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n\nlet body = '';\n\nfor (const dia of diasOrdenados) {\n  const byDepto = grouped.get(dia);\n  const deptosOrdenados = Array.from(byDepto.keys()).sort((a, b) => a.localeCompare(b, 'es'));\n\n  body += `\n  <section class=\"day\">\n    <div class=\"dayHeader\">\n      <div class=\"dayTitle\">${escapeHtml(ddmmyyyy(dia))} · ${escapeHtml(diaTextoES(dia))}</div>\n      <div class=\"daySub\">Check-outs y aseos programados</div>\n    </div>\n  `;\n\n  for (const depto of deptosOrdenados) {\n    const byReserva = byDepto.get(depto);\n    const reservasOrdenadas = Array.from(byReserva.keys()).sort((a, b) => Number(a) - Number(b));\n\n    body += `\n    <div class=\"deptoCard\">\n      <div class=\"deptoHeader\">\n        <div class=\"deptoName\">Departamento ${escapeHtml(depto)}</div>\n      </div>\n      <div class=\"deptoItems\">\n    `;\n\n    for (const rid of reservasOrdenadas) {\n      const { reserva, aseo } = byReserva.get(rid);\n\n      const checkoutHora = reserva ? hhmm(reserva.EventoHora) : '';\n      const reservaLabel = reserva?.Reserva_id || reserva?.Reserva__id || `ReservaId ${rid}`;\n      const reservaUrl = reserva?.Reserva_reservationUrl || '';\n\n      const aseoId = aseo?.AseoReservaCheckOutId ?? null;\n      const aseoHora = aseo ? hhmm(aseo.EventoHora) : '';\n      const aseoEstado = aseo?.AseoEstado || '';\n      const faltaAseo = !!aseo?.FaltaAseo || !aseoId;\n\n      body += `\n        <div class=\"item\">\n          <div class=\"row\">\n            <div class=\"tag tagBlue\">RESERVA</div>\n            <div class=\"text\">\n              <div class=\"main\">\n                <span class=\"strong\">Check-out</span>\n                ${checkoutHora ? `<span class=\"muted\">· ${escapeHtml(checkoutHora)}</span>` : ''}\n              </div>\n              <div class=\"sub\">\n                ${escapeHtml(reservaLabel)}\n                ${reservaUrl ? ` · <a class=\"link\" href=\"${escapeHtml(reservaUrl)}\" target=\"_blank\" rel=\"noopener\">Ver</a>` : ''}\n              </div>\n            </div>\n          </div>\n\n          <div class=\"row\">\n            <div class=\"tag ${faltaAseo ? 'tagRed' : 'tagGreen'}\">ASEO</div>\n            <div class=\"text\">\n              <div class=\"main\">\n                ${faltaAseo\n                  ? `<span class=\"strong red\">FALTA ASEO</span>`\n                  : `<span class=\"strong\">Programado</span> ${aseoHora ? `<span class=\"muted\">· ${escapeHtml(aseoHora)}</span>` : ''}`\n                }\n              </div>\n              <div class=\"sub\">\n                ${faltaAseo ? 'No hay AseoReservaCheckOut asociado.' : `AseoId ${escapeHtml(aseoId)}${aseoEstado ? ` · ${escapeHtml(aseoEstado)}` : ''}`}\n              </div>\n            </div>\n          </div>\n        </div>\n      `;\n    }\n\n    body += `\n      </div>\n    </div>\n    `;\n  }\n\n  body += `</section>`;\n}\n\nconst html = `\n<!doctype html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"utf-8\"/>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n  <title>Aseos programados · SandiegoApart</title>\n  <style>\n    :root{\n      --bg:#0b0f19; --card:#121a2a; --card2:#0f1626;\n      --text:#e8eefc; --muted:#a9b6d6; --line:#223055;\n      --blue:#3b82f6; --green:#22c55e; --red:#ef4444;\n      --shadow: 0 8px 22px rgba(0,0,0,.25); --radius:16px;\n    }\n    *{box-sizing:border-box}\n    body{margin:0;font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial;background:linear-gradient(180deg,#070a12 0%,var(--bg) 100%);color:var(--text)}\n    .wrap{max-width:780px;margin:0 auto;padding:14px}\n    .top{position:sticky;top:0;background:rgba(11,15,25,.92);backdrop-filter:blur(8px);border-bottom:1px solid rgba(34,48,85,.6);padding:12px 14px;z-index:10}\n    .title{font-size:16px;font-weight:800}\n    .subtitle{font-size:12px;color:var(--muted);margin-top:4px}\n    .day{margin-top:14px}\n    .dayHeader{margin:10px 2px 10px;padding:10px 12px;background:rgba(18,26,42,.7);border:1px solid rgba(34,48,85,.7);border-radius:var(--radius);box-shadow:var(--shadow)}\n    .dayTitle{font-weight:900;font-size:14px}\n    .daySub{color:var(--muted);font-size:12px;margin-top:4px}\n    .deptoCard{margin-top:10px;border-radius:var(--radius);overflow:hidden;border:1px solid rgba(34,48,85,.7);background:var(--card);box-shadow:var(--shadow)}\n    .deptoHeader{padding:12px;background:var(--card2);border-bottom:1px solid rgba(34,48,85,.7)}\n    .deptoName{font-weight:900}\n    .deptoItems{padding:10px}\n    .item{border:1px solid rgba(34,48,85,.7);border-radius:14px;padding:10px;margin-bottom:10px;background:rgba(255,255,255,.02)}\n    .row{display:flex;gap:10px;align-items:flex-start;margin:4px 0}\n    .tag{min-width:64px;font-size:11px;font-weight:900;text-align:center;padding:6px 8px;border-radius:999px;border:1px solid rgba(255,255,255,.12)}\n    .tagBlue{background:rgba(59,130,246,.18);color:#cfe2ff;border-color:rgba(59,130,246,.35)}\n    .tagGreen{background:rgba(34,197,94,.18);color:#d3ffe2;border-color:rgba(34,197,94,.35)}\n    .tagRed{background:rgba(239,68,68,.18);color:#ffd2d2;border-color:rgba(239,68,68,.35)}\n    .text{flex:1}\n    .main{font-size:13px}\n    .sub{font-size:12px;color:var(--muted);margin-top:2px}\n    .muted{color:var(--muted)}\n    .strong{font-weight:900}\n    .red{color:#ffb4b4}\n    .link{color:#cfe2ff;text-decoration:none;border-bottom:1px dotted rgba(207,226,255,.5)}\n    .footer{color:var(--muted);font-size:11px;text-align:center;padding:14px 0 18px}\n  </style>\n</head>\n<body>\n  <div class=\"top\">\n    <div class=\"title\">Aseos programados · SandiegoApart</div>\n    <div class=\"subtitle\">Actualizado: ${escapeHtml(actualizado)} (America/Santiago)</div>\n  </div>\n  <div class=\"wrap\">\n    ${body || `<div class=\"dayHeader\"><div class=\"dayTitle\">Sin datos</div><div class=\"daySub\">No hay check-outs desde hoy en adelante.</div></div>`}\n    <div class=\"footer\">Vista móvil · Webhook n8n</div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        0
      ],
      "id": "2ceddbe8-65b2-403b-b680-205033bfa391",
      "name": "ConvierteAhtml"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        0
      ],
      "id": "6ad41e20-e982-4402-81ff-63812b098e30",
      "name": "RespondtoHtml"
    }
  ],
  "connections": {
    "GetPagina": {
      "main": [
        [
          {
            "node": "GetDatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetDatos": {
      "main": [
        [
          {
            "node": "ConvierteAhtml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvierteAhtml": {
      "main": [
        [
          {
            "node": "RespondtoHtml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a29534fc-fdb0-454e-9dff-e881df3ed73a",
  "activeVersionId": "a29534fc-fdb0-454e-9dff-e881df3ed73a",
  "versionCounter": 50,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-11T01:35:31.843Z",
      "createdAt": "2026-03-11T01:35:31.843Z",
      "role": "workflow:owner",
      "workflowId": "O5orA32jsISEoYlPlGJBg",
      "projectId": "fkrYXx8bUkVIFmGN",
      "project": {
        "updatedAt": "2025-11-05T16:16:44.185Z",
        "createdAt": "2025-11-05T15:24:32.634Z",
        "id": "fkrYXx8bUkVIFmGN",
        "name": "Jairo Pinilla <contacto@teknoconecta.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6e4b4287-1829-4637-b2b8-8fe0c8471719",
        "projectRelations": [
          {
            "updatedAt": "2025-11-05T15:24:32.634Z",
            "createdAt": "2025-11-05T15:24:32.634Z",
            "userId": "6e4b4287-1829-4637-b2b8-8fe0c8471719",
            "projectId": "fkrYXx8bUkVIFmGN",
            "user": {
              "updatedAt": "2026-04-22T16:56:08.229Z",
              "createdAt": "2025-11-05T15:23:52.554Z",
              "id": "6e4b4287-1829-4637-b2b8-8fe0c8471719",
              "email": "contacto@teknoconecta.com",
              "firstName": "Jairo",
              "lastName": "Pinilla",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-05T16:17:10.332Z",
                "personalization_survey_n8n_version": "1.117.3",
                "companySize": "<20",
                "companyType": "saas",
                "role": "data-science",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "QBxPsad3MwjzkTU2",
                "userActivatedAt": 1764029627118,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1768053262866
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-22",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-30T00:35:04.093Z",
    "createdAt": "2026-03-30T00:34:50.587Z",
    "versionId": "a29534fc-fdb0-454e-9dff-e881df3ed73a",
    "workflowId": "O5orA32jsISEoYlPlGJBg",
    "nodes": [
      {
        "parameters": {
          "path": "aseos",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -320,
          0
        ],
        "id": "e6bcaaf0-f070-455e-89c7-0eadd642328a",
        "name": "GetPagina",
        "webhookId": "a5160fe4-a9b6-4deb-b8d8-fb0cbfc18d08"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH base AS (\n  SELECT\n    r.\"ReservaId\",\n    r.\"Reserva_id\",\n    r.\"Reserva__id\",\n    r.\"Reserva_reservationUrl\",\n    r.\"Reserva_checkOutDate\" AS \"Dia\",              -- Día para agrupar (checkout)\n    r.\"Reserva_checkOutTime\" AS \"CheckoutTime\",\n    al.\"AlojamientoStaysInternalName\" AS \"Depto\",\n\n    a.\"AseoReservaCheckOutId\" AS \"AseoId\",\n    a.\"AseoEstadoCodigo\"      AS \"AseoEstado\",\n    a.\"FechaServicio\"         AS \"AseoDate\",\n    a.\"HoraInicio\"            AS \"AseoTime\"\n  FROM public.\"Reserva\" r\n  LEFT JOIN public.\"Alojamiento\" al\n    ON al.\"AlojamientoId\" = r.\"AlojamientoId\"\n  LEFT JOIN public.\"AseoReservaCheckOut\" a\n    ON a.\"ReservaId\" = r.\"ReservaId\"\n   AND a.\"AseoEstadoCodigo\" <> 'Cancelado'\n   WHERE r.\"Reserva_type\" in ( 'booked','reserved')\n    AND r.\"Reserva_checkOutDate\" >= date_trunc('day', now() AT TIME ZONE 'America/Santiago')::date\n)\n\nSELECT\n  b.\"Dia\",\n  b.\"Depto\",\n  b.\"ReservaId\",\n  b.\"Reserva_id\",\n  b.\"Reserva__id\",\n  b.\"Reserva_reservationUrl\",\n  1 AS \"ItemOrden\",\n  'RESERVA' AS \"ItemTipo\",\n  b.\"Dia\" AS \"EventoFecha\",\n  b.\"CheckoutTime\" AS \"EventoHora\",\n  NULL::bigint AS \"AseoReservaCheckOutId\",\n  NULL::text   AS \"AseoEstado\",\n  FALSE AS \"FaltaAseo\"\nFROM base b\n\nUNION ALL\n\nSELECT\n  b.\"Dia\",\n  b.\"Depto\",\n  b.\"ReservaId\",\n  b.\"Reserva_id\",\n  b.\"Reserva__id\",\n  b.\"Reserva_reservationUrl\",\n  2 AS \"ItemOrden\",\n  'ASEO' AS \"ItemTipo\",\n  b.\"AseoDate\" AS \"EventoFecha\",\n  b.\"AseoTime\" AS \"EventoHora\",\n  b.\"AseoId\"   AS \"AseoReservaCheckOutId\",\n  b.\"AseoEstado\",\n  (b.\"AseoId\" IS NULL) AS \"FaltaAseo\"\nFROM base b\n\nORDER BY\n  \"Dia\" ASC,\n  \"Depto\" ASC,\n  \"ItemOrden\" ASC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -112,
          0
        ],
        "id": "dbab3489-8e05-4c7a-b9a1-76a0d8feb2e5",
        "name": "GetDatos",
        "credentials": {
          "postgres": {
            "id": "zvx0J3DPht42SAUp",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node (Run Once for All Items)\n// Sin luxon: usa Intl (incluido en Node.js)\n\nconst items = $input.all().map(i => i.json);\n\n// Helpers\nconst normalizeYMD = (v) => {\n  if (v === null || v === undefined) return null;\n  const s = String(v);\n  // si viene ISO: 2026-03-01T00:00:00.000Z => tomamos YYYY-MM-DD\n  return s.length >= 10 ? s.slice(0, 10) : s;\n};\n\nconst ddmmyyyy = (ymd) => {\n  if (!ymd) return '';\n  const [y, m, d] = ymd.split('-');\n  if (!y || !m || !d) return ymd;\n  return `${d}-${m}-${y}`;\n};\n\n// Para evitar que \"YYYY-MM-DD\" se corra por zona, usamos mediodía UTC\nconst dateAtNoonUTC = (ymd) => new Date(`${ymd}T12:00:00.000Z`);\n\nconst toTitleCase = (s) =>\n  String(s || '').replace(/\\p{L}[\\p{L}\\p{Mn}]*/gu, (w) => w[0].toUpperCase() + w.slice(1));\n\nconst fmtDiaES = new Intl.DateTimeFormat('es-CL', {\n  weekday: 'long',\n  day: 'numeric',\n  month: 'long',\n  timeZone: 'America/Santiago',\n});\n\nconst diaTextoES = (ymd) => {\n  if (!ymd) return '';\n  const raw = fmtDiaES.format(dateAtNoonUTC(ymd)); // ej: \"domingo, 1 de marzo\"\n  return toTitleCase(raw.replace(',', ''));        // \"Domingo 1 De Marzo\"\n};\n\nconst hhmm = (t) => {\n  if (!t) return '';\n  const s = String(t);\n  // \"11:00:00\" => \"11:00\"\n  return s.length >= 5 ? s.slice(0, 5) : s;\n};\n\n// Agrupar: Dia -> Depto -> ReservaId -> {reserva, aseo}\nconst grouped = new Map();\n\nfor (const r of items) {\n  const dia = normalizeYMD(r.Dia);                 // YYYY-MM-DD\n  const depto = r.Depto || 'SinDepto';\n  const reservaId = r.ReservaId;\n\n  if (!dia) continue;\n\n  if (!grouped.has(dia)) grouped.set(dia, new Map());\n  const byDepto = grouped.get(dia);\n  if (!byDepto.has(depto)) byDepto.set(depto, new Map());\n  const byReserva = byDepto.get(depto);\n\n  if (!byReserva.has(reservaId)) byReserva.set(reservaId, { reserva: null, aseo: null });\n  const obj = byReserva.get(reservaId);\n\n  if (r.ItemTipo === 'RESERVA') obj.reserva = r;\n  if (r.ItemTipo === 'ASEO') obj.aseo = r;\n}\n\n// Orden\nconst diasOrdenados = Array.from(grouped.keys()).sort();\n\n// Actualización Chile\nconst actualizado = new Intl.DateTimeFormat('es-CL', {\n  timeZone: 'America/Santiago',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n}).format(new Date()).replace(',', '');\n\n// Escape HTML\nconst escapeHtml = (s) =>\n  String(s ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n\nlet body = '';\n\nfor (const dia of diasOrdenados) {\n  const byDepto = grouped.get(dia);\n  const deptosOrdenados = Array.from(byDepto.keys()).sort((a, b) => a.localeCompare(b, 'es'));\n\n  body += `\n  <section class=\"day\">\n    <div class=\"dayHeader\">\n      <div class=\"dayTitle\">${escapeHtml(ddmmyyyy(dia))} · ${escapeHtml(diaTextoES(dia))}</div>\n      <div class=\"daySub\">Check-outs y aseos programados</div>\n    </div>\n  `;\n\n  for (const depto of deptosOrdenados) {\n    const byReserva = byDepto.get(depto);\n    const reservasOrdenadas = Array.from(byReserva.keys()).sort((a, b) => Number(a) - Number(b));\n\n    body += `\n    <div class=\"deptoCard\">\n      <div class=\"deptoHeader\">\n        <div class=\"deptoName\">Departamento ${escapeHtml(depto)}</div>\n      </div>\n      <div class=\"deptoItems\">\n    `;\n\n    for (const rid of reservasOrdenadas) {\n      const { reserva, aseo } = byReserva.get(rid);\n\n      const checkoutHora = reserva ? hhmm(reserva.EventoHora) : '';\n      const reservaLabel = reserva?.Reserva_id || reserva?.Reserva__id || `ReservaId ${rid}`;\n      const reservaUrl = reserva?.Reserva_reservationUrl || '';\n\n      const aseoId = aseo?.AseoReservaCheckOutId ?? null;\n      const aseoHora = aseo ? hhmm(aseo.EventoHora) : '';\n      const aseoEstado = aseo?.AseoEstado || '';\n      const faltaAseo = !!aseo?.FaltaAseo || !aseoId;\n\n      body += `\n        <div class=\"item\">\n          <div class=\"row\">\n            <div class=\"tag tagBlue\">RESERVA</div>\n            <div class=\"text\">\n              <div class=\"main\">\n                <span class=\"strong\">Check-out</span>\n                ${checkoutHora ? `<span class=\"muted\">· ${escapeHtml(checkoutHora)}</span>` : ''}\n              </div>\n              <div class=\"sub\">\n                ${escapeHtml(reservaLabel)}\n                ${reservaUrl ? ` · <a class=\"link\" href=\"${escapeHtml(reservaUrl)}\" target=\"_blank\" rel=\"noopener\">Ver</a>` : ''}\n              </div>\n            </div>\n          </div>\n\n          <div class=\"row\">\n            <div class=\"tag ${faltaAseo ? 'tagRed' : 'tagGreen'}\">ASEO</div>\n            <div class=\"text\">\n              <div class=\"main\">\n                ${faltaAseo\n                  ? `<span class=\"strong red\">FALTA ASEO</span>`\n                  : `<span class=\"strong\">Programado</span> ${aseoHora ? `<span class=\"muted\">· ${escapeHtml(aseoHora)}</span>` : ''}`\n                }\n              </div>\n              <div class=\"sub\">\n                ${faltaAseo ? 'No hay AseoReservaCheckOut asociado.' : `AseoId ${escapeHtml(aseoId)}${aseoEstado ? ` · ${escapeHtml(aseoEstado)}` : ''}`}\n              </div>\n            </div>\n          </div>\n        </div>\n      `;\n    }\n\n    body += `\n      </div>\n    </div>\n    `;\n  }\n\n  body += `</section>`;\n}\n\nconst html = `\n<!doctype html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"utf-8\"/>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n  <title>Aseos programados · SandiegoApart</title>\n  <style>\n    :root{\n      --bg:#0b0f19; --card:#121a2a; --card2:#0f1626;\n      --text:#e8eefc; --muted:#a9b6d6; --line:#223055;\n      --blue:#3b82f6; --green:#22c55e; --red:#ef4444;\n      --shadow: 0 8px 22px rgba(0,0,0,.25); --radius:16px;\n    }\n    *{box-sizing:border-box}\n    body{margin:0;font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial;background:linear-gradient(180deg,#070a12 0%,var(--bg) 100%);color:var(--text)}\n    .wrap{max-width:780px;margin:0 auto;padding:14px}\n    .top{position:sticky;top:0;background:rgba(11,15,25,.92);backdrop-filter:blur(8px);border-bottom:1px solid rgba(34,48,85,.6);padding:12px 14px;z-index:10}\n    .title{font-size:16px;font-weight:800}\n    .subtitle{font-size:12px;color:var(--muted);margin-top:4px}\n    .day{margin-top:14px}\n    .dayHeader{margin:10px 2px 10px;padding:10px 12px;background:rgba(18,26,42,.7);border:1px solid rgba(34,48,85,.7);border-radius:var(--radius);box-shadow:var(--shadow)}\n    .dayTitle{font-weight:900;font-size:14px}\n    .daySub{color:var(--muted);font-size:12px;margin-top:4px}\n    .deptoCard{margin-top:10px;border-radius:var(--radius);overflow:hidden;border:1px solid rgba(34,48,85,.7);background:var(--card);box-shadow:var(--shadow)}\n    .deptoHeader{padding:12px;background:var(--card2);border-bottom:1px solid rgba(34,48,85,.7)}\n    .deptoName{font-weight:900}\n    .deptoItems{padding:10px}\n    .item{border:1px solid rgba(34,48,85,.7);border-radius:14px;padding:10px;margin-bottom:10px;background:rgba(255,255,255,.02)}\n    .row{display:flex;gap:10px;align-items:flex-start;margin:4px 0}\n    .tag{min-width:64px;font-size:11px;font-weight:900;text-align:center;padding:6px 8px;border-radius:999px;border:1px solid rgba(255,255,255,.12)}\n    .tagBlue{background:rgba(59,130,246,.18);color:#cfe2ff;border-color:rgba(59,130,246,.35)}\n    .tagGreen{background:rgba(34,197,94,.18);color:#d3ffe2;border-color:rgba(34,197,94,.35)}\n    .tagRed{background:rgba(239,68,68,.18);color:#ffd2d2;border-color:rgba(239,68,68,.35)}\n    .text{flex:1}\n    .main{font-size:13px}\n    .sub{font-size:12px;color:var(--muted);margin-top:2px}\n    .muted{color:var(--muted)}\n    .strong{font-weight:900}\n    .red{color:#ffb4b4}\n    .link{color:#cfe2ff;text-decoration:none;border-bottom:1px dotted rgba(207,226,255,.5)}\n    .footer{color:var(--muted);font-size:11px;text-align:center;padding:14px 0 18px}\n  </style>\n</head>\n<body>\n  <div class=\"top\">\n    <div class=\"title\">Aseos programados · SandiegoApart</div>\n    <div class=\"subtitle\">Actualizado: ${escapeHtml(actualizado)} (America/Santiago)</div>\n  </div>\n  <div class=\"wrap\">\n    ${body || `<div class=\"dayHeader\"><div class=\"dayTitle\">Sin datos</div><div class=\"daySub\">No hay check-outs desde hoy en adelante.</div></div>`}\n    <div class=\"footer\">Vista móvil · Webhook n8n</div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          96,
          0
        ],
        "id": "2ceddbe8-65b2-403b-b680-205033bfa391",
        "name": "ConvierteAhtml"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.html }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "text/html; charset=utf-8"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          304,
          0
        ],
        "id": "6ad41e20-e982-4402-81ff-63812b098e30",
        "name": "RespondtoHtml"
      }
    ],
    "connections": {
      "GetPagina": {
        "main": [
          [
            {
              "node": "GetDatos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetDatos": {
        "main": [
          [
            {
              "node": "ConvierteAhtml",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ConvierteAhtml": {
        "main": [
          [
            {
              "node": "RespondtoHtml",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jairo Pinilla",
    "name": "Version a29534fc",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-30T00:35:03.961Z",
        "id": 36,
        "workflowId": "O5orA32jsISEoYlPlGJBg",
        "versionId": "a29534fc-fdb0-454e-9dff-e881df3ed73a",
        "event": "activated",
        "userId": "6e4b4287-1829-4637-b2b8-8fe0c8471719"
      },
      {
        "createdAt": "2026-04-22T17:49:52.124Z",
        "id": 38,
        "workflowId": "O5orA32jsISEoYlPlGJBg",
        "versionId": "a29534fc-fdb0-454e-9dff-e881df3ed73a",
        "event": "activated",
        "userId": "6e4b4287-1829-4637-b2b8-8fe0c8471719"
      }
    ]
  }
}
